name: ci-build

on:
  push:
    branches: ["feat/**", "fix/**"]

env:
  IMAGE: ${{ secrets.IMAGE }}

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Build docker image 
        run: |
          docker build -f ./.deploy/Dockerfile -t ${{ env.IMAGE }}:latest .
