name: Push Docker Image to DigitalOcean Registry

on:
  push:
    branches: ["production"]

env:
  REGISTRY: ${{ vars.REGISTRY }}
  IMAGE: ${{ vars.IMAGE }}
  TOKEN: ${{ secrets.API_TOKEN }}
  HOST: ${{ vars.SERVER_IP }}
  USER: ${{ secrets.SERVER_USER }}
  SSH_KEY: ${{ secrets.SSH_KEY }}

jobs:
  push-to-do-registry:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install doctl (DigitalOcean CLI)
        run: |
          cd ~
          wget https://github.com/digitalocean/doctl/releases/download/v1.120.1/doctl-1.120.1-linux-amd64.tar.gz
          tar xf ~/doctl-1.120.1-linux-amd64.tar.gz
          sudo mv ~/doctl /usr/local/bin

      - name: Authenticate with DigitalOcean
        run: doctl auth init --access-token ${{ env.TOKEN }}

      - name: Log in to DigitalOcean Container Registry
        run: doctl registry login

      - name: Build Docker Image
        run: |
          docker build -f ./.deploy/Dockerfile -t registry.digitalocean.com/${{ env.REGISTRY }}/${{ env.IMAGE }}:beard-live .

      - name: Push Docker Image to DigitalOcean
        run: |
          docker push registry.digitalocean.com/${{ env.REGISTRY }}/${{ env.IMAGE }}:beard-live

      - name: Verify Image in Registry
        run: doctl registry repository list

  pull_server_image:
    runs-on: [ubuntu-latest]
    needs: push-to-do-registry
    steps:
      - uses: actions/checkout@v1
      - name: Pull Image on server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ env.HOST }}
          username: ${{ env.USER }}
          key: ${{ env.SSH_KEY }}
          script: |
            cd .site
            doctl auth init --access-token ${{ env.TOKEN }}
            doctl registry login
            docker compose -f beard.yml pull beardlive
            docker compose -f beard.yml up -d --force-recreate beardlive
